html {
    background-image: url(https://wallpaperplay.com/walls/full/8/c/9/20897.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
}
.bodydiv {
    padding: 20;
    padding-bottom: 5rem;
    color: white;
}

.navbar {
    width: 50%;
    height: 5%;
    overflow: hidden;
    background-color: gold;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    text-transform: uppercase;
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30;
}
nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    text-decoration: underline;
    color: black;
}

button {
    padding: 5 40;
    margin-right: 15;
    border: 2px solid gold;
}
button:hover {
    background-color: gold;
}
.redbutton {
    border: 2px solid red;
}
.redbutton:hover {
    background-color: red;
}
.bluebutton {
    border: 2px solid blue;
}
.bluebutton:hover {
    background-color: blue;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    color: gold;
}
h2 {
    font-size: 35px;
    color: green;
}

li, p {
    font-weight: bold;
    color: white;
}

/* use commas to select multiple selectors */
table, th, td {
    border: black solid 1px;
}
table{
    background-color: gold;
    padding: 5px;
}
th, td {
    background-color: white;
    padding: 5px;
}

/* the # signals an ID */
#placesHeader {
    color: gold;
}

/* the . signlas a class */
/* .educationImage {
    transform: rotate(180deg);
} */

#linkbox:hover #linkImg {
    transform: scale(1.25);
}
#linkbox {
    position: relative;
    width: 33%;
    overflow: hidden;
}
#linkImg {
    width: 100%;
    transition: all 1.5s ease-in-out;
}
#overlayText {
    position: absolute;
    top: 30%;
    left: 12%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

form input, form label, form select {
    display: block;
}
form input.inline {
    display: inline-block;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.navbarbottom {
    width: 50%;
    height: 5%;
    background-color: gold;
    overflow: hidden;
    padding: 0;
    margin: 0;
}